/* inside sidebar */

* {
    background-color: #FFE1A6;
}

    /* outside sidebar */

/* images */
.image {
    width: 50px;
    height: 50px;
    background-color: orange;
}

.pageContent {
    color: red;
}

.container {
    padding:0.01em 16px;
    margin-top:16px;
    margin-bottom:16px;
}

h1 {
    display: block;
    margin: auto;
    margin-bottom: 1.5%;
    margin-top: 2%;
    height: 1.3em;
    width: 7em;
    text-align: center;
    font-family: sans-serif;
    font-size: 4.5em;
    border: 2px solid;
    background-color: #FFA800;
    padding: 15px;
    border-radius: 10px;
}

/* filter systeem*/

    .filterDiv {
        float: left;
        background-color: #2196F3;
        color: #ffffff;
        width: 100px;
        line-height: 100px;
        text-align: center;
        margin: 2px;
        display: none;
    }

    .show {
        display: block;
    }

    .container {
        margin-top: 20px;
        overflow: hidden;
    }

    /* Style the buttons */
.btn {
    border: none;
    outline: none;
    width: 150px;
    height: 150px;
    padding: 20px 20px;
    background-color: orange;
    cursor: pointer;
    border-radius: 50%;
    font-size: 35px;
}

.btn:hover {
    background-color: lightsalmon;
}

.btn.active {
    background-color: lightgreen;
    color: white;
    font-size: 25px;
}
